<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenBot</title>

    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="script.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="status-bar">
            <div class="info">
                <div class="account">
                    <span class="username"> <%= locals.account.username %> </span>
                </div>
                <div class="status">
                    <span class="text"> <%= locals.status %> </span>
                </div>
            </div>
            <div class="controls">
                <button class="btn reconnect">Reconnect</button>
            </div>
        </div>
        <div class="chat-box">
            <div class="messages"></div>
            <div class="new-message">
                <form action="/chat" method="post">
                    <input class="message-content" type="text" name="message" id="chat-message" placeholder="Enter message here..." autocomplete="off">
                    <input class="btn send-message" type="submit" value="Enter">
                </form>
            </div>
        </div>
    </div>
</body>
</html>